/* font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Tai+Heritage+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition duration-300;
}

footer a {
 @apply hover:underline hover:text-white;
}

.container {
    @apply px-5 sm:px-0;
}

.mapfortask {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
}

.mapfortaskdetails {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
}

.leaflet-control a {
    display: none !important;
}